<html>
  <head>
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

  </head>
  <body>
    <!-- <div class="container white mt-5 pt-5">
      <h1 class="center">Search form</h1>
     <form action="/results" method="get">


  <div class="row">
    <div class="input-field col s6">
      <input  id="first_name2" type="text" class="validate" name="search">
      <label class="active" for="first_name2">Movie Name</label>
      <button class="btn waves-effect waves-light large btn-block" type="submit">Submit
      <i class="material-icons right">send</i>
 </button>
    </div>
  </div>
</div>

</form> -->
<div class="container">
  <div class="row">
    <div class="col l6 ">
      <h1 class="below">Search Ur Favourite Movies Here....</h1>
      <h4 class="h4below">By Manish Garg</h4>
    </div>
    <div class="col l6">
      <div class="form">
      <h1 class="center text-white dark">Search form</h1>
      <form action="/results" method="get">
             <input type="text" id="sub1" name="search" placeholder="MOVIE NAME">
             <button class="btn waves-effect waves-light large btn-block" id="sub" type="submit">Submit
            <i class="material-icons right">send</i>
           </button>
       </div>

   </div>
  </div>
  </div>
</div>
